In [2]:
import pandas as pd

# Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
оценка 2 и меньше - низкий рейтинг
оценка 4 и меньше - средний рейтинг
оценка 4.5 и 5 - высокий рейтинг
Результат классификации запишите в столбец class

In [34]:
data_movies = pd.read_csv('movies.csv' )
data_movies.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [35]:
data_ratings = pd.read_csv('ratings.csv')
data_ratings.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

In [11]:
def classification (row):
    if row['rating'] <=2:
        return 'низкий рейтинг'
    elif row['rating'] <=4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [14]:
data_ratings['classification'] = data_ratings.apply(classification, axis=1)
data_ratings.head()

   userId  movieId  rating   timestamp   classification
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

# **Задание 2**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [25]:
geo_class = pd.read_csv('keywords.csv')

In [51]:
geo_class[100:105]

                                          keyword    shows
100                             программа передач  1302601
101                      телепрограмма на сегодня  1318857
102                                     тв онлайн  1610178
103                                         gmail  1280529
104  в контакте моя страница вход на мою страницу  1267689

In [32]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [52]:
def add_region (row):
    request = row['keyword']
    for key,value in geo_data.items():
        if request in value:
            return key

In [54]:
geo_class['region'] = geo_class.apply(add_region, axis=1)
geo_class.head()

         keyword     shows region
0             вк  64292779   None
1  одноклассники  63810309   None
2          порно  41747114   None
3           ютуб  39995567   None
4      вконтакте  21014195   None

In [55]:
geo_data_sort = geo_class[ (geo_class['keyword']=='сахалин') ]
geo_data_sort.head()

       keyword  shows          region
21445  сахалин  14494  Дальний Восток

# **Задание 3 (бонусное)**
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
  - для каждой строки пройдите по всем годам списка years
  - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
  - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга


**Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может способствовать ошибки в коде. В данной ситуации необходимо их просто заменить.**